<section class="section" id="_500px">
  <div class="container">

    <div class="columns">
      <div class="column">
        <!-- padding -->
      </div>
      <div class="column is-6">
        <div>
          <p class="button is-fullwidth" id="btn-2">Moar Pictures!</p>
        </div>
      </div>
      <div class="column">
        <div>
          <p class="button is-fullwidth is-danger" id="nuke">Delete All</p>
        </div>
      </div>
      <div class="column">
        <!-- padding -->
      </div>
    </div>

    <div class="columns is-multiline" id="result-col">
      <!-- jQuery will push stuff in here -->
    </div>
  </div>
</section>
