<section class="section" id="_hello">
  <div class="container">
    <div class="notification">
      <p class="title is-text-centered">Hello world.</p>
      <p class="is-text-centered">Welcome to this lightweight <strong>Single Page Application</strong>. Most of the work is handled in the frontend by <strong>Javascript</strong> and <strong>jQuery</strong>; a <strong>Sinatra</strong> server exists purely for hiding API keys by relaying 3rd-party API <strong>ajax</strong> calls while injecting the appropriate access token. Enjoy the fantastic pictures!</p>
      <hr>
      <div class="content">
        <div class="columns">
          <div class="column">
            <!-- padding -->
          </div>
          <div class="column is-7">
            <h3>Notable Quirks... *ahem* Features</h3>
            <ul>
              <li>Uses a modified mapbox SDK that reroutes all API calls via local server (<a href="/javascript/mapbox.2.3.0.js" target="_blank">mapbox.2.3.0.js</a>:32)</li>
              <li>The server is purely an API key injection proxy with basic CORS security</li>
              <li>Almost all data is rendered client-side</li>
              <li>The entire app is &#60;1MB</li>
              <li><a href="https://github.com/billiamliu/LHL_w6d3_500px_on_sinatra" target="_blank">And open souce</a></li>
              <li>My first JS project, woohoo!!</li>
            </ul>
            <hr>
            <p>* As much as I like 500px, few of their images have geolocation, so the map is set to search worldwide.</p>
          </div>
          <div class="column is-3">
            <h3>Technology</h3>
            <ul>
              <li>JavaScript</li>
              <li>jQuery</li>
              <li>ajax</li>
              <li><a href="http://www.sinatrarb.com/" target="_blank">Sinatra</a></li>
              <li><a href="https://github.com/500px/api-documentation" target="_blank">500px API</a></li>
              <li><a href="https://www.mapbox.com/mapbox.js/api/v2.3.0/" target="_blank">mapbox SDK</a></li>
              <li><a href="http://bulma.io/" target="_blank">Bulma CSS framework</a></li>
              <li>CSS::flexbox</li>
              <li><a href="https://heroku.com/" target="_blank">Heroku PaaS</a></li>
              <li><a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a></li>
              <li><a href="http://emmet.io/" target="_blank">Emmet</a></li>
              <li><a href="https://atom.io/packages/vim-mode" target="_blank">Atom::vim</a></li>
            </ul>
          </div>
          <div class="column"></div>
        </div>
      </div>
    </div>
  </div>
</section>
