<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image-custom">
      <img src="http://placehold.it/1280x960">
    </p>
    <div>&nbsp;</div>
    <div class="image-custom">
      <a class="tag" target="_blank">
        <i class="fa fa-user"></i>
      </a>
    </div>
  </div>
</div>
