<section class="section" id="_settings">
  <div class="container">
    <div class="columns">
      <div class="column">
      </div>
      <div class="column">

        <p class="control has-icon">
          <input id="input_city" class="input" type="text" placeholder="City" disabled>
          <i class="fa fa-map-signs"></i>
        </p>

        <p class="control has-icon">
          <input id="input_lng" class="input" type="text" placeholder="Longitude" disabled>
          <i class="fa fa-compass"></i>
        </p>

        <p class="control has-icon">
          <input id="input_lat" class="input" type="text" placeholder="Latitude" disabled>
          <i class="fa fa-compass"></i>
        </p>

        <p class="control has-icon">
          <input id="input_range" class="input" type="text" placeholder="Range" disabled>
          <i class="fa fa-street-view"></i>
        </p>

      </div>
      <div class="column">

        <p class="control">
          <span class="select">
            <select id="set_feature">
              <option value="fresh_today">Fresh Today</option>
              <option value="fresh_yesterday">Fresh Yesterday</option>
              <option value="fresh_week">Fresh This Week</option>
              <option value="highest_rated">Highest Rated</option>
              <option value="editors">Editor's Choice</option>
              <option value="popular">Popular</option>
              <option value="upcoming">Upcoming</option>
            </select>
          </span>
        </p>

        <p class="control">
          <span class="select">
            <select id="set_size">
              <option value="1080">1080px longest edge</option>
              <option value="1600">1600px longest edge</option>
              <option value="2048">2048px longest edge</option>
            </select>
          </span>
        </p>

        <p class="control">
          <span class="select">
            <select id="set_category">
              <option value="Uncategorized">Uncategorized</option>
              <option value="Abstract">Abstract</option>
              <option value="Animals">Animals</option>
              <option value="Black and White">Black and White</option>
              <option value="Celebrities">Celebrities</option>
              <option value="City and Architecture">City and Architecture</option>
              <option value="Concert">Concert</option>
              <option value="Family">Family</option>
              <option value="Fashion">Fashion</option>
              <option value="Film">Film</option>
              <option value="Fine Art">Fine Art</option>
              <option value="Food">Food</option>
              <option value="Journalism">Journalism</option>
              <option value="Landscapes">Landscapes</option>
              <option value="Macro">Macro</option>
              <option value="Nature">Nature</option>
              <option value="Nude">Nude</option>
              <option value="People">People</option>
              <option value="Performing Arts">Performing Arts</option>
              <option value="Sport">Sport</option>
              <option value="Still Life">Still Life</option>
              <option value="Street">Street</option>
              <option value="Transportation">Transportation</option>
              <option value="Travel">Travel</option>
              <option value="Underwater">Underwater</option>
              <option value="Urban Exploration">Urban Exploration</option>
            </select>
          </span>
        </p>

        <p class="control">
          <a class="button is-primary" id="set_button">Submit</a>
        </p>

      </div>
      <div class="column">
      </div>
    </div>
  </div>
</section>
