<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="box">
          <p><input type="text" id="consumer_key" class="is-fullwidth" name="name" placeholder="enter 500px consumer key"></p>
          <hr>
          <p>
            <button class="button is-primary" id="btn-0">#btn-0</button>
            <button class="button is-danger" id="nuke">NUKE</button>
          </p>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div id="col-1">
          <p>#col-1</p>
          <p class="button is-fullwidth" id="btn-1">#btn-1</p>
        </div>
      </div>
      <div class="column">
        <div id="col-2">
          <p>#col-2</p>
          <p class="button is-fullwidth" id="btn-2">#btn-2</p>
        </div>
      </div>
      <div class="column">
        <div id="col-3">
          <p>#col-3</p>
          <p class="button is-fullwidth" id="btn-3">#btn-3</p>
        </div>
      </div>
    </div>
    <div class="columns is-multiline" id="result-col">
      <!-- jQuery will push stuff in here -->
    </div>
  </div>
</section>

  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <p class="image-custom">
        <img src="http://placehold.it/1280x960">
      </p>
    </div>
  </div>
