<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <!-- <link rel="stylesheet" href="/stylesheets/normalize.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.16/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>
  <!-- <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script> -->

  <!-- NOTE: this is the modified SDK, rerouted to '/mapbox' for API key injection -->
  <script src='/javascript/mapbox.2.3.0.js'></script>

  <title>500px on Maps</title>
</head>
<body>
  <billiam>
    <section class="hero is-primary">
      <div class="hero-content">
        <div class="container is-logo">
          <img src="/images/500px.png" alt="500px Logo">
          <span class="subtitle">on</span>
          <img src="/images/mapbox.png" alt="mapbox Logo">
        </div>
      </div>
    </section>
  </billiam>

  <header class="header">
    <div class="container">
      <!-- Left side -->
      <div class="header-left">
        <a id="tab_500px" class="header-tab">
          500px
        </a>
        <a id="tab_500maps" class="header-tab">
          500maps
        </a>
        <a id="tab_settings" class="header-tab">
          Settings
        </a>
      </div>
      <!-- Hamburger menu (on mobile) -->
      <span class="header-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <!-- Right side -->
      <div class="header-right header-menu">
        <a class="header-item" href="/">
          <img src="/images/500px.png" alt="500px Logo">
          <span class="subtitle">on</span>
          <img src="/images/mapbox.png" alt="mapbox Logo">
        </a>
      </div>
    </div>
  </header>

  <%= yield %>

  <footer class="footer">
  <div class="container">
    <div class="content is-centered">
      <p class="is-text-centered">
        a JS, jQuery, JSON, and 3rd-party API practice by <a href="https://github.com/billiamliu">Billiam</a>
      </p>
      <p class="is-text-centered">
        <a class="icon" href="https://github.com/billiamliu/LHL_w6d3_500px_on_sinatra">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>

</body>
</html>
